body{
    background-color: black;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    text-align: center;
    color: coral;
    padding: 20px;
}

main{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}